extends layout

block content
    h1= "This is what the weather in Boston is right now:"
    p In #{city}, right now the temperature is #{temp},
    p The minimum temperature today was #{min}, the maximum today was #{max}.
    p Lastly, the wind speed is #{speed}.
