doctype html
html
    head
        title= 'PS3'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            h1= 'Assigment 3'
            if length
                p That was a POST request: The string passed was #{string} and had length of #{length}
            else
                p That was a GET request: The string passed was #{string}

